[Unit]
Description=Signalize OMX Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=signalize
WorkingDirectory=/home/signalize/core
ExecStart=/usr/bin/php artisan socket omx

[Install]
WantedBy=multi-user.target