[Unit]
Description=Signalize Socket Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=signalize
WorkingDirectory=/home/signalize/core
ExecStart=/usr/bin/php artisan socket server

[Install]
WantedBy=multi-user.target